.popup-content
      .popup-header
        span.popup-title Supprimer un article
      .popup-body
        span.popup-text 
        
      .popup-footer
        button#deleteConfirm Supprimer
        button#deleteCancel Annuler